<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fallTurtle.myrestaurantgallery">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <permission android:name="com.fallTurtle.myrestaurantgallery.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.fallTurtle.myrestaurantgallery.permission.MAPS_RECEIVE"/>

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name_for_display"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyABmEI59-DK3a6NPqZiTP0HDCTHTcFh-e8"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.AddActivity"/>
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.RecordActivity"/>
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.MainActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.ProgressActivity"/>
    </application>
</manifest>