<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fallTurtle.myrestaurantgallery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name_for_display"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.AddActivity"/>
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.RecordActivity"/>
        <activity android:name="com.fallTurtle.myrestaurantgallery.activity.MainActivity"
            android:windowSoftInputMode="adjustNothing"/>
    </application>
</manifest>